.envelope
    position: fixed
    z-index 999
    width: 100vw
    height 100vh
    color: white
    background-color: rgba(0,0,0,0.66)
    .red-box
        position relative
        width: 6.2rem
        height 7.2rem
        position relative
        margin: 30% auto
        img 
            width: 100%
        .open-envelope
            position: absolute
            width: 1.7rem
            height 1.7rem
            bottom: 1.04rem;
            left: 2.32rem;
        .close
            display: inline-block
            margin-top: 0.2rem
            width: 0.6rem
            height 0.6rem