.home-page
    position relative
    .head-img
        width 100%
        display: block
    .part-one
        background-color: #dd1a12
        .title-1
            display: block
            width: 6rem
            margin: 0.3rem auto 
    .part-two
        background-color: #ee5243
        padding-top: 0.6rem
        .title-2
            width: 6rem
            display: block
            margin: 0rem auto 0.5rem
    .part-three
        background-color: #821717
        padding-top: 1rem
        img.tile-3
            width: 5.5rem
            display: block
            margin: 0 auto 0.3rem
        .tile-bar
            width: 4rem
            height 0.7rem
            line-height: 0.7rem
            font-size: 0.36rem
            color: white
            margin: 0 auto 0.5rem
            background-image: url('/img/title-bg.png')
            background-size: cover