.part-four-cont
    position relative
    .list-1
        display flex
        flex-direction: column;
        justify-content space-around
        margin-bottom: 0.5rem
    .list-2
        padding: 0 0.2rem
        display flex
        flex-direction: row;
        flex-wrap: wrap
        justify-content space-around
