.part-five-item
    display: block
    width: 2.27rem
    height 3.6rem
    background-size: 100% 100%
    border-top 1px solid rgba(0,0,0,0) 
    margin-bottom: 0.1rem
    img 
        display: block
        width: 1.8rem
        height 1.8rem
        margin: 0.3rem auto 0
    .part-one-item-tile
        text-align: center
        height: 0.4rem
        color: #821717
        overflow hidden
    .item-price
        display: block
        font-size: 0.2rem
        color: #ffe000
        width: 2rem
        height 0.37rem
        line-height: 0.37rem
        margin: 0 auto
        background: #dd1a12
        text-align: center
        span 
            font-size: 0.2rem
            color: #ffe000
            &.total
                font-size: 0.28rem
                font-family: impact
    .part-one-btn
        display: block
        border: solid 2px #dd1a12
        width 0.8rem
        color: #dd1a12
        font-size: 0.2rem
        text-align: center
        padding: 0 0.15rem
        border-radius: 0.16rem
        margin: 0.15rem auto