.part-three-item
    width: 2.54rem
    height 3.8rem
    border: 2px solid #ffe000
    margin-bottom: 0.1rem
    img
        width: 1.8rem
        height 1.8rem
        display: block
        margin: 0.2rem auto 0
    p.tile
        text-align: center
        font-size: 0.24rem
        height 0.62rem
        overflow hidden
        padding 0 0.1rem
        color: white
    p.price
        font-size: 0.2rem
        margin-top: 0.2rem
        margin-bottom: 0.1rem
        color: white
        span 
            font-family: Impact
            color: #fff000
    a
        margin-top: 0.15rem
        font-size: 0.2rem
        background-color:  #ffffff
        color:  #dd1a12
        padding 0.06rem 0.15rem
        border-radius: 0.2rem