.part-two-container
    position relative
    .head
        position relative
        height 2.1rem
        width 100%
        background-image: url('/img/partbg_01.png')
        background-size: 100% 100%
        &-tile
            display: inline-block
            position: absolute
            width: 5.4rem
            font-size: .33rem
            color: #fff000
            bottom: 0
            left: 1.1rem
            text-align: center
            img 
                width: 1.2rem
    .content
        width 100%
        background-image: url('/img/partbg_02.png')
        background-size: 100%
        .list-1
            padding: 0 1.4rem
            display: flex
            flex-direction: column
        .list-tile
            display: block
            width: 5.5rem
            font-size: .33rem
            color: #fff000
            text-align: center
            margin: 0.6rem auto 0rem
            img 
                width: 1.2rem
        .list-2
            width: 5.5rem
            margin: 0 0.9rem 0 1.1rem   
            padding-top: 0.5rem 
            display: flex
            flex-wrap: wrap
            justify-content: space-around
    .foot
        height 1.6rem
        width 100%
        background-image: url('/img/partbg_03.png')
        background-size: 100% 100%