.part-one-index
    position relative
    .above,.floor
        position relative
        width: 6.46rem
        margin-left: 0.8rem
        img.tag
            position: absolute
            width 1.15rem
            height 1.15rem
            left -0.6rem
            top: 0
        p.tile
            padding: 0.1rem 0 0 0 
            margin-left: 0.8rem
            font-size: 0.3rem
            color: #ffe000
    .above
        height 2.2rem
        background-image: url('/img/bg-1.png')
        background-size: 100% 100%
        margin-bottom: 0.1rem
        .content
            margin-left: 0.8rem 
            margin-right: 0.3rem
            font-size: 0.18rem       
            color white    
        a
            position absolute
            width: 0.8rem
            height: 0.4rem
            line-height: 0.4rem
            background-color: #dd1a12
            color: white
            border-radius: 0.2rem
            right: 0.1rem
            bottom: 0.1rem
    .floor
        height 2.5rem
        background-image: url('/img/bg-2.png')
        background-size: 100% 100%
        .content
            position relative
            margin-left: 0.8rem
            margin-top: 0.1rem
            img
                width: 1.33rem
                height 1.8rem
                margin-right: 0.08rem