.part-four-item
    position: relative
    width: 7rem
    height 2.9rem
    margin-left: 0.25rem
    margin-bottom: 0.1rem
    background-size: 100% 100%
    border-top: 1px solid rgba(0,0,0,0)
    img
        width 1.8rem
        height 1.8rem
        margin: 0.5rem 0 0 0.5rem
    p.tile
        width: 3.2rem
        height 0.7rem
        font-size: 0.28rem
        overflow hidden
        margin-top: 0.6rem
        padding-left: 0.3rem
        color: #821717
    p.price
        width: 3.2rem
        height 0.7rem
        font-size: 0.2rem
        color: #821717
        padding-left: 0.3rem
        margin-top: 0.2rem
        span
            font-size: 0.48rem
            font-family: impact
            color: #e62222