@font-face{
        font-family:impact;
        src:url('/img/impact.ttf');
    }
html, body
    height 100%
html
    font-size calc(100vw/7.5)
*
    font-size 0.26rem
    .icon
        font-size 0.45rem
a{
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    color: #333333;
    text-decoration: none;
}
html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
.ac
    text-align: center
.fr
    float right
.fl
    float left
.bold 
    font-weight: bold