.timer
    padding: 0.3rem 0
    p
        color: white
        font-size: 0.2rem
        span 
            display: inline-block
            width: 18px
            height 18px
            line-height: 18px
            border-radius: 6px
            background-color: white
            color: black
            margin: 0 0.03rem