.upshot
    position 
    .status-bar
        padding 0 0.3rem
        padding-top: 0.6rem
    .Winning-record
        font-size: 0.5rem
        color #cc1923
        font-family: impact
        margin-top: 1rem
        font-weight: bold
        margin-bottom: 0.6rem
        &.not
            color: black
    .red-envelope
        display: block
        width: 4.9rem
        height 6.9rem
        margin: 0 auto
        background-image: url('/img/red-envelope-2.png')
        background-size: 100% 100%
        padding-top: 1.5rem
        .prize
            font-size: 1.35rem
            color: #cc1923
            font-family: impact
        .use-now
            width: 2.60rem;
            height: .8rem
            line-height: .8rem
            margin: 2.8rem auto 0
            color: #c70000;
            font-size: .36rem
            background-color: #ffffff;
            box-shadow: 1px 3px 7px 0px rgba(116, 5, 5, 0.53), inset 1px 3px 6px 1px rgba(249, 122, 122, 0.63);
            border-radius: 40px;
        .envelope-notice
            color: white
            margin-top: 0.4rem
            padding: 0 0.3rem
    .envelope-img
        display: block
        margin: 0 auto
        width: 4.4rem
    .not-win-btns
        width: 5.4rem
        margin: 1.3rem auto
        display flex
        flex-direction: row
        justify-content: space-between
        .btn
            width: 2.6rem
            height 0.8rem
            line-height: .8rem
            font-size: .36rem
        .tomorrow
            border 2px solid #c70000
            color: #c70000
            border-radius: .41rem
        .add-chance
            border-radius: .41rem
            color: white
            background-color: #c70000